---
import DotsButton from "../../components/DotsButton.astro";
import InlineOwners from "../../components/InlineOwners.astro";
import LikeButton from "../../components/LikeButton.astro";
import RepositoryTable from "../../components/RepositoryTable.astro";
import PageHeader from "../../components/PageHeader.astro";
import PlayButton from "../../components/PlayButton.astro";
import Layout from "../../layouts/Layout.astro";
import {allRepositories} from "../../lib/githubData";

export function getStaticPaths() {
    return allRepositories.map((repository) => ({
        params: {id: repository.id},
    }));
}
const {id} = Astro.params;
const repository = allRepositories.find((repository) => repository.id.toString() === id);
---

<Layout title={repository?.name || "404"}>
    <div
            class="relative bg-zinc-900 min-h-full flex flex-col overflow-x-hidden rounded-lg"
            transition:name=`playlist ${repository?.id} box`
    >
        <PageHeader/>
        <div class="flex flex-col items-center md:flex-row md:items-stretch gap-8 px-6">
            <div class="flex flex-col justify-between">
                <div class="flex flex-1 items-end">Repository</div>
                <div>
                    <h1 class="title-clamp font-bold block">
                        {repository?.name}
                        <span transition:name=`playlist ${repository?.id} title`></span>
                    </h1>
                </div>
                <div class="flex-1 flex items-end">
                    <div class="text-sm">
                        <InlineOwners owner={repository?.owner} url={`https://github.com/${repository?.owner}`}/>
                        <div class="mt-1">
                            <span class="font-semibold">58 likes</span>, 83 musics, <span
                                class="text-gray-300">about 3h 15min</span
                        >
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-zinc-900/30 mt-6 flex-1 p-6 blur-100">
            <div class="flex gap-1 items-center">
                <PlayButton size="lg"/>
                <div class="ml-4" transition:name=`repository ${repository?.id} repository`></div>
                <LikeButton/>
                <DotsButton/>
            </div>
            <div class="px-6 pt-4">
                <RepositoryTable/>
            </div>
        </div>
        <div
                class="absolute h-screen inset-0 z-[-1] bg-gradient-to-b from-context"
                style=`--context-color:${repository?.color.accent}`
        >
            <div
                    class="absolute inset-0 bg-gradient-to-t via-transparent from-zinc-900"
            >
            </div>
        </div>
    </div>
</Layout>

<style>
    .title-clamp {
        font-size: clamp(20px, 6vw, 70px);
        line-height: 1;
    }
</style>
